* {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
}

nav {
    position: absolute;
    right: 0;
   position: fixed;
    width: 6vw;
    height: 100vh;
    z-index: 2;
    background-color: #F3F4F0;
}

nav li {
    /*listの点を消す*/
    list-style: none;
    /*縦書き、左から右に改行*/
    writing-mode: vertical-lr;
    margin-left: 10px;
}

nav img {
    width: 50px;
    padding: 20px 5px 30px 0px;
    margin-bottom: 90px;
}

nav a{
    color: #454545;
    font-size: 20px;
    font-family: 'Hiragino Mincho Pro';
    font-weight: 100;
    line-height: 50px;
    padding-bottom: 30px;
    /*aタグの下線消す*/
    text-decoration: none;
    /*hoverの色変更ふわっと*/
    transition: 1s;
}

nav a:hover {
    color: #913939;
}

hr {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }

.hr {
    margin-left: 25px;

    margin-bottom: 45px;
    width: 19px;
    border-top: 0.8px solid rgba(69, 69, 69, 0.6);
    
}

@media (max-width:955px) {

    header {
        position: static;
    }

    nav {
        position: relative;
       position: static;
        width: auto;
        height: 0px;
        z-index: 2;
        background-color: transparent;
        
    }

    nav ul {
        writing-mode: vertical-rl;
    }

    nav li {
        /*listの点を消す*/
        list-style: none;
        /*縦書き、左から右に改行*/
        writing-mode: vertical-lr;
        height: 300px;
        margin-left: 30px;

    }
    
    
    nav a{
        color: rgb(185, 185, 185);
        font-size: 20px;
        font-family: 'Hiragino Mincho Pro';
        font-weight: 100;
        line-height: 50px;
        padding-bottom: 0px;
        padding-top: 60px;
        text-decoration: underline;
        /*hoverの色変更ふわっと*/
        transition: 1s;
    }

    nav img {
        position: absolute;
        right: 5%;
        width: 50px;
        padding: 0px 5px 30px 0px;
        margin-bottom: 0px;
    }

    .hr {
        display: none;
    }
}

@media (max-width: 880px) {
    nav a{
        color: rgb(185, 185, 185);
        font-size: 15px;
        font-family: 'Hiragino Mincho Pro';
        font-weight: 100;
        line-height: 50px;
        padding-bottom: 0px;
        padding-top: 60px;
        text-decoration: underline;
        /*hoverの色変更ふわっと*/
        transition: 1s;
    }
}



.wrap-video {
    width: 94vw;
    height: 100vh; 
}

@media (max-width:955px) {
    .wrap-video {
        width: 100vw;
        height: 100vh; 
    }
}

video {
    width: 100vw;
    position: fixed;
    height: 900px;
    object-fit: cover; 
    z-index: -1;
    overflow: hidden;
}

.text h1{
    padding-top: 350px;
    text-align: center;
    font-size: 100px;
    font-family: "Sawarabi Mincho";
    font-weight: 200;
    color: #fff;
}

@media (max-width: 880px) {
    .text h1{
        padding-top: 350px;
        text-align: center;
        font-size: 60px;
        font-family: "Sawarabi Mincho";
        font-weight: 200;
        color: #fff;
    }
}

.p {
    height: 100vh;
    width: 94vw;
    position: relative;
}

.p p {
    position: absolute;
    right: 8%;
    bottom: 5%;
    display: inline-block;
    text-align: left;
    font-size: 25px;
    font-family: "Hiragino Mincho Pro";
    font-weight: 100;
    color: rgba(255,255, 255, 0.9);
    line-height:55px;
}

@media (max-width: 880px) {
    .p {
        height: 100vh;
        width: 100vw;
        position: static;
    }

    .p p {
        position: static;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 25px;
        font-family: "Hiragino Mincho Pro";
        font-weight: 100;
        color: rgba(255,255, 255, 0.9);
        line-height:55px;
    }
}

@media (max-width:450px){
    .text h1{
        padding-top: 350px;
        text-align: center;
        font-size: 40px;
        font-family: "Sawarabi Mincho";
        font-weight: 200;
        color: #fff;
    }

    .p p {
        position: static;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        font-family: "Hiragino Mincho Pro";
        font-weight: 100;
        color: rgba(255,255, 255, 0.9);
        line-height:55px;
    }
}

/*おすすめ料理*/

#recommendation {
    height: 100vh;
    width: 94vw;
    position: relative;
    background: url(./images/bg_recommend.png);
}




h2 {
    font-size: 70px;
    font-family: "Sawarabi Mincho";
    font-weight: 100;
    color: #626262;
}

.deco {
    position: absolute;
    width: 250px;
    top: 10%;
    left: 70%;
}

.bg-octopus {
    position: absolute;
    bottom: 0;
    
    opacity: 0.6;
    width: 80vw;
    height: 400px;
}

.octopus {
    position: absolute;
    bottom: 17%;
    left: 15%;
    width: 350px;
    opacity: 0.6;
}


.noon h2 {
position: absolute;
    top: 10%;
    left: 4%;
}

.noon img {
    position: absolute;
    width: 130px;
    top: 5%;
    left: 0;
}

.lunch-contents {
    padding-top: 150px;
}

.lunch-contents p {
    position: absolute;
   padding-top: 50px;
    left: 7%;
    font-size: 26px;
    line-height: 60px;
    font-family: "Hiragino Mincho Pro";
    font-weight: 100;
    color: #454545;
    z-index: 2;
}

.lunch-img1 {
    position: absolute;
    width: 400px;
    height: 240px;
    top: 63%;
    right: 8%;
}

.lunch-img2 {
    position: absolute;
    right: 10%;
    top: 60%;
    width: 400px;
    height: 240px;

}

@media (max-width:955px) {

    #recommendation {
        height: 100vh;
        width: 100vw;
        position: relative;
        background: url(./images/bg_recommend.png);
    }

    h2 {
        font-size: 50px;
        font-family: "Sawarabi Mincho";
        font-weight: 100;
        color: #626262;
    }

    .noon h2 {
        position: absolute;
            top: 10%;
            left: 20%;
        }
        
        .noon img {
            position: absolute;
            width: 130px;
            top: 5%;
            left: 3%;
        }
    
    .octopus {
        position: absolute;
        bottom: 0%;
        left: 5%;
        width: 350px;
        opacity: 0.6;
    }

    .lunch-contents p {
        position: static;
        text-align: center;
       padding-top: 55px;
        font-size: 26px;
        line-height: 60px;
        font-family: "Hiragino Mincho Pro";
        font-weight: 100;
        color: #454545;
        z-index: 2;
    }

    
}

@media (max-width:450px) {

    #recommendation {
        height: 100vh;
        width: 100vw;
        position: relative;
        background: url(./images/bg_recommend.png);
    }
    .deco{
        display: none;
    }

    .bg-octopus {
        position: absolute;
        bottom: 0;
        
        opacity: 0.6;
        width: 80vw;
        height: 200px;
    }

    .octopus {
        position: absolute;
        bottom: 8%;
        left: 4%;
        width: 200px;
        opacity: 0.6;
    }

    .lunch-contents p {
        position: static;
        text-align: center;
       padding-top: 55px;
        font-size: 13px;
        line-height: 30px;
        font-family: "Hiragino Mincho Pro";
        font-weight: 300;
        color: #454545;
        z-index: 2;
    }

    .lunch-img1 {
        position: absolute;
        width: 230px;
        height: 140px;
        top:55%;
        right: 8%;
    }
    
    .lunch-img2 {
        position: absolute;
        right: 10%;
        top: 52%;
        width: 230px;
        height: 140px;
    
    }
}



.recommendation-night {
    background: url(../images/bg_recommend.png);
    height: 100vh;
    width: 94vw;
    position: relative;
}



.night h2 {
    position: absolute;
    right: 6%;
    padding-right: 50px;
}

.night img {
    position: absolute;
    right: 6%;
    width: 100px;
    padding-top: 30px;
    padding-right: 50px;
    right: 7%;
    opacity: 0.8;
}


.night-contents p {
position: absolute;
top: 23%;
right: 5%;
    font-size: 27px;
    line-height: 60px;
    font-family: "Hiragino Mincho Pro";
    font-weight: 100;
    color: #454545;
    z-index: 2;
}

.deco3 {
    position: absolute;
top: 13%;
right: 5%;
opacity: 0.4;
}

.dinner-img1 {
    position: absolute;
    top: 10%;
    left: 13%;
    width: 400px;
    height: 300px;
}
.dinner-img2 {
    position: absolute;
    top: 13%;
    left: 15%;
    width: 400px;
}


.dinner-img3 {
    position: absolute;
    bottom: 6%;
    right: 10%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    opacity: 0.9;
}

.deco1 {
    position: absolute;
    left: 25%;
    bottom: 6%;
    opacity: 0.2;
    width: 60vw;
}

.deco2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80vw;
    height: 350px;
    object-fit: cover;
    opacity: 0.4;
    transform: rotate(10deg);
}

@media (max-width:955px) {

    .recommendation-night {
        background: url(../images/bg_recommend.png);
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .night-contents p {
        position: absolute;
        top: 43%;
        right: 5%;
            font-size: 27px;
            line-height: 60px;
            font-family: "Hiragino Mincho Pro";
            font-weight: 100;
            color: #454545;
            z-index: 2;
        }

        .deco3 {
            position: absolute;
        top: 33%;
        right: 5%;
        opacity: 0.4;
        }

    .dinner-img1 {
        position: absolute;
        top: 30%;
        left: 13%;
        width: 300px;
        height: 200px;
    }
    .dinner-img2 {
        position: absolute;
        top: 33%;
        left: 15%;
        width: 300px;
    }
    
    .dinner-img3 {
        position: absolute;
        bottom: 6%;
        right: 10%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        opacity: 0.9;
    }
}

@media (max-width:450px) {
    .night h2 {
        position: absolute;
        right: 4%;
        top: 10%;
        padding-right: 20px;
    }

    .night-contents p {
        position: absolute;
        top: 33%;
        right: 5%;
            font-size: 13px;
            line-height: 20px;
            font-family: "Hiragino Mincho Pro";
            font-weight: 100;
            color: #454545;
            z-index: 2;
        }

        .deco3 {
            position: absolute;
        top: 28%;
        right: 0%;
        width: 400px;
        height: 120px;
        opacity: 0.3;
        }

    .night img {
        position: absolute;
        right: 6%;
        width: 100px;
        padding-top: 30px;
        padding-right: 20px;
        right: 7%;
        opacity: 0.8;
    }

    .dinner-img1 {
        position: absolute;
        top: 26%;
        left: 5%;
        width: 200px;
        height: 150px;
    }
    .dinner-img2 {
        position: absolute;
        top: 28%;
        left: 7%;
        width: 200px;
    }
    
    .dinner-img3 {
        position: absolute;
        bottom: 18%;
        right: 10%;
        width: 130px;
        height: 130px;
        object-fit: cover;
        opacity: 0.9;
    }

    .deco1 {
        position: absolute;
        left: 25%;
        bottom: 16%;
        opacity: 0.2;
        width: 60vw;
    }
    
    .deco2 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 80vw;
        height: 250px;
        object-fit: cover;
        opacity: 0.4;
        transform: rotate(10deg);
    }


}



/*こだわり*/

#pride {
    background: url(../images/bg_pride.png);

    width: 94vw;
}

@media (max-width:955px) {
    #pride {
        background: url(../images/bg_pride.png);
    
        width: 100vw;
    }
}



h3 {
    color: rgba(98, 98, 98, 0.9);
    font-family: "Sawarabi Mincho";
    font-size: 60px;
    font-weight: 100;
}

#pride h3 {
    padding: 70px 0px 0px 70px ;
}

.pride {
    display: flex;
    justify-content: center;
    align-items: center;
}



.gallery-tennai {
  padding: 0px 50px 0px;
}



.slider-tennai {
    width: 300px;

}

.slider-tennai img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}



.tennnai-p1 {
    position: relative;
    z-index: 2;
    writing-mode: vertical-lr;
    font-size: 70px;
    font-family: "Sawarabi Mincho";
    font-weight: 100;
    color: #D7D7D7;
    letter-spacing: 0.12em;
    padding-bottom: 50px;
    margin-left: 250px;
    margin-top: -200px;
}

.tennai-p2 {
    font-family: "Hiragino Mincho Pro";
    font-size: 22px;
    font-weight: 100;
    color: #454545;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 880px) {
    .pride1 {
        display: flex;
        justify-content: center;
    
    }
    .pride {
        display: inline;
    }

    .slider-tennai {
        width: 450px;
    }

    .slider-tennai img {
        width: 450px;
        height: 300px;
        object-fit: cover;
    }

    .tennnai-p1 {
        writing-mode:horizontal-tb;
        margin-left: 350px;
        margin-top: -80px;
    }



}

@media (max-width: 450px) {
    .pride1 {
        display: flex;
        justify-content: center;
    }
    .pride {
        display: inline;
    }

    h3 {
        color: rgba(98, 98, 98, 0.9);
        font-family: "Sawarabi Mincho";
        font-size: 35px;
        font-weight: 100;
    }

    #pride h3 {
        padding: 30px 0px 0px 70px ;
    }

    .slider-tennai {
        width: 250px;
    }

    .slider-tennai img {
        width: 250px;
        height: 150px;
        object-fit: cover;
    }

    .tennnai-p1 {
        writing-mode:horizontal-tb;
        margin-left: 180px;
        margin-top: -80px;
        font-size: 40px;
    }

    .tennai-p2 {
        font-size: 15px;
        margin-top: -60px;
        margin-bottom: 30px;
    }

}


.gallery-syokuzai {
    padding: 0px 50px 0px;
  }

.slider-syokuzai {
    width: 300px;
    margin-top: -30px;
}

.slider-syokuzai img {
    width: 300px;
    height: 450px; 
    object-fit: cover;
}

.syokuzai-p1 {
    position: relative;
    z-index: 2;
    writing-mode: vertical-lr;
    font-size: 70px;
    font-family: "Sawarabi Mincho";
    font-weight: 100;
    color: #D7D7D7;
    letter-spacing: 1.12em;
    margin-top: -200px;
    margin-left: 250px;
}

.syokuzai-p2 {
    font-family: "Hiragino Mincho Pro";
    font-size: 22px;
    font-weight: 100;
    color: #454545;
    text-align: center;
}

@media (max-width:880px) {
    .slider-syokuzai {
        width: 450px;
    }

    .slider-syokuzai img {
        width: 450px;
        height: 300px;
        object-fit: cover;
    }

    .syokuzai-p1 {
        writing-mode:horizontal-tb;
        letter-spacing: 0.12em;
        margin-left: 350px;
        margin-top: -80px;
    }
}

@media (max-width:450px) {
    .slider-syokuzai {
        width: 250px;
    }

    .slider-syokuzai img {
        width: 250px;
        height: 150px;
        object-fit: cover;
    }

    .syokuzai-p1 {
        writing-mode:horizontal-tb;
        letter-spacing: 0.12em;
        margin-left: 180px;
        margin-top: -80px;
        font-size: 40px;
    }

    .syokuzai-p2 {
        font-size: 15px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}



/*店舗情報*/

#information {
    background: url(../images/bg_info.png) ;
position: relative;

width: 94vw;
}

@media (max-width:955px) {
    #information {
        background: url(../images/bg_info.png) ;
    position: relative;
    
    width: 100vw;
    }
}


.information h3 {
    position: absolute;
    right: 3%;
    writing-mode: vertical-lr;
    letter-spacing: 0.12em;
}

@media (max-width:1150px) {
    .information h3 {
        font-size: 50px;
        position: absolute;
        right: 3%;
        writing-mode: vertical-lr;
        letter-spacing: 0.12em;
    }
}

@media (max-width:450px) {
    .information h3 {
        font-size: 35px;
        position: absolute;
        right: 5%;
        writing-mode: vertical-lr;
        letter-spacing: 0.12em;
    }
}

.accessbox {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 180px;
}

.accessbox-left {
    margin-right: 20px;
}

.accessbox-right {
    margin-left: 20px;
}

.access-box-title {
    font-size: 29px;
    font-family: "Hiragino Mincho Pro";
    font-weight: 100;
    color: #454545;
}

.access-box-text {
    font-size: 27px;
    font-family: "Hiragino Mincho Pro";
    font-weight: 100;
    color: #454545;
}

.accessbox hr {
    border-top: 1px solid #454545;
    margin: 15px 0px 15px 0px;
}

iframe {
    width: 900px;
    height: 270px;
}

@media (max-width: 960px) {
    .information{
        text-align: center;
    }
    .accessbox{
        display: inline-block;
        
        padding-bottom: 50px;
        padding-top: 180px;
    }

    .accessbox-left {
        margin-right: 0px;
 
    }
    
    .accessbox-right {
        margin-left: 0px;
  
    }

    .access-box-title {
        text-align: left;
        font-size: 29px;
        font-family: "Hiragino Mincho Pro";
        font-weight: 100;
        color: #454545;
    }
    
    .access-box-text {
        text-align: left;
        font-size: 27px;
        font-family: "Hiragino Mincho Pro";
        font-weight: 100;
        color: #454545;
    }

    .accessbox hr {
        width: 450px;
        border-top: 1px solid #454545;
        margin: 15px 0px 15px 0px;
    }

    iframe {
        width: 500px;
        height: 500px;
    }

}

.map {
    display: flex;
    justify-content: center;

}

.icon {
    text-align: center;
}

.icon1 {
    width: 45px;
    padding: 0px 30px 0px 30px;
}
.icon2 {
    width: 80px;
    padding: 0px 30px 0px 30px;
}
.icon3 {
    width: 45px;
    padding: 0px 30px 0px 30px;
}

@media (max-width: 450px) {
    .information{
        text-align: center;
    }
    .accessbox{
        display: inline-block;
        
        padding-bottom: 50px;
        padding-top: 180px;
    }

    .accessbox-left {
        margin-right: 0px;
 
    }
    
    .accessbox-right {
        margin-left: 0px;
  
    }

    .access-box-title {
        text-align: left;
        font-size: 21px;
        font-family: "Hiragino Mincho Pro";
        font-weight: 100;
        color: #454545;
    }
    
    .access-box-text {
        text-align: left;
        font-size: 20px;
        font-family: "Hiragino Mincho Pro";
        font-weight: 100;
        color: #454545;
    }

    .accessbox hr {
        width: 300px;
        border-top: 1px solid #454545;
        margin: 15px 0px 15px 0px;
    }

    iframe {
        width: 250px;
        height: 250px;
    }

    .icon1 {
        width: 25px;
        padding: 0px 30px 0px 30px;
    }
    .icon2 {
        width: 45px;
        padding: 0px 30px 0px 30px;
    }
    .icon3 {
        width: 25px;
        padding: 0px 30px 0px 30px;
    }

}
